.my_fotorama_outter{
	background-color:rgba(0,0,0,0.8);
	z-index:1;
}
.my_fotorama_mapper{
	position:relative;
	visibility:hidden;
}
.my_nav{
	position:absolute;
	z-index:5;
}
.my_nav span{
	width:40px;
	display:block;
	text-align:center;
}
.my_nav span i{
	font-size:28px !important;
	line-height:40px !important;
	color:#fff !important;
}
.my_nav_left{
	/*left:10px;*/
	left:25px;
	top:50%;
	margin-top:-20px;
}
.my_nav_right{
	/*right:10px;*/
	right:25px;
	top:50%;
	margin-top:-20px;
}

.my_nav_left, .my_nav_right{
	width:40px;
	height:40px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border:2px solid #fff;
	cursor:pointer;
	/*overflow:hidden;*/
	
}
.my_fotorama_blue{
	display:none;
	width:44px !important;
	height:44px !important;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	/*border:2px solid #fff;*/
	border:none;
	cursor:pointer;
	position:absolute;
	top:-2px;
	left:-2px;
	/*color:white;*/
	text-align:center;
	font-size:14px !important;
	line-height:44px !important;
	background-color:#08b9f3 !important;
	/*line-height:40px !important;*/
	color:#fff !important;
}
.my_nav_content{
	position:absolute;
}
.my_fotorama_mapper_out{
}
.my_nav_outter_left{
	/*border:1px solid white;*/
	width:160px;
	height:200px;
	position:absolute;
	top:50%;
	margin-top:-100px;
	left:0px;
}
.my_nav_outter_right{
	/*border:1px solid white;*/
	width:160px;
	height:200px;
	position:absolute;
	top:50%;
	margin-top:-100px;
	right:0px;
}
.my_fotorama_mapper_inner{
	overflow:hidden;
}
.my_fotorama_item{
}
.my_fotorama_prev_image{
	background-color:#fff;
	width:100px;
	height:100px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border:2px solid #fff;
	position:absolute;
	top:50%;
	/*margin-top:-118px;*/
	margin-top:-84px;
	/*left:10px;*/
	left:25px;
	display:none;
}

.my_fotorama_next_image{
	background-color:#fff;
	width:100px;
	height:100px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border:2px solid #fff;
	position:absolute;
	top:50%;
	/*margin-top:-118px;*/
	margin-top:-84px;
	/*right:10px;*/
	right:25px;
	display:none;
}
.my_fotorama_next_image img,.my_fotorama_prev_image img{
	border-radius:50% !important;
	-moz-border-radius:50% !important;
	-webkit-border-radius:50% !important;
	/*position:absolute:
	top:50%;
	left:50%;*/
	
}
.my_fotorama_nav_items_div{
	width:100%;
	height:auto;
	margin:5px auto;
	position:relative;
	
}
.my_fotorama_nav_items{
display:inline-block;
cursor:pointer;
height: 30px;
width: 18px;
vertical-align:middle;
}
.my_fotorama_nav_dot{
	/*margin-top:13px;
	margin-left:6px;*/
	border: 1px solid #7F7F7F;
    border-radius: 6px;
    display: block;
    height: 4px;
    left: 6px;
    position: relative;
    top: 12px;
    width: 4px;
}
.my_fotorama_nav_dot_active{
	border-width:3px;
	height:0;
	width:0;
}
.my_fotorama_item{
	/*position:absolute;
	top:0px;
	left:0px;*/
}
.fotorama__arr--disabled{
	/*opacity:0.6;*/
}

